body {
  height: 100%; }

html {
  height: 100%;
  line-height: 1.3; }

h1, h2, h3, h4, h5, h6 {
  margin: 0; }

ul, li {
  list-style-type: none;
  margin: 0;
  padding: 0; }

input,
select,
button {
  outline: none; }

*, *:before, *:after {
  box-sizing: border-box; }

.budget {
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow: hidden; }
  .budget__title {
    margin-bottom: 30px; }
  .budget__current {
    font-size: 30px;
    margin-bottom: 30px; }
  .budget__header {
    align-items: center;
    background-color: #f2f2f2;
    border-bottom: 1px solid #cccccc;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 0 0 auto;
    padding: 20px; }
  .budget__body {
    overflow: auto;
    flex: 1;
    padding: 20px; }
  .budget__content {
    margin: 0 auto;
    max-width: 1000px;
    width: 100%; }
  .budget__controller {
    align-items: center;
    display: flex;
    margin-bottom: 50px; }
    .budget__controller > * {
      margin-right: 10px; }
      .budget__controller > *:last-child {
        margin-right: 0; }
    .budget__controller_category .select {
      display: none; }
      .budget__controller_category .select.is-chosen {
        display: block; }
  .budget__statistics {
    display: flex;
    flex-direction: column; }
    .budget__statistics_value {
      align-items: center;
      color: #ffffff;
      display: flex;
      height: 40px;
      line-height: 40px;
      margin-bottom: 10px;
      padding: 0 10px;
      width: 140px; }
      .budget__statistics_value:last-child {
        margin-bottom: 0; }
      .budget__statistics_value.budget__statistics_value--income {
        background-color: #6aac2b; }
      .budget__statistics_value.budget__statistics_value--expense {
        background-color: #ff4940; }
  .budget-table__header {
    align-items: center;
    display: flex;
    height: 40px; }
  .budget-table__body {
    display: flex;
    justify-content: space-between; }
    .budget-table__body > * {
      flex: 0 0 48%;
      max-width: 48%;
      width: 48%; }
  .budget-table__col-name {
    flex: 0 0 50%;
    max-width: 50%;
    text-align: center;
    width: 50%; }
  .budget-table__row {
    border-top: 1px solid #cccccc;
    display: flex; }
    .budget-table__row:last-child {
      border-bottom: 1px solid #cccccc; }
  .budget-table__cell {
    padding: 10px; }
    .budget-table__cell.budget-table__cell--worth {
      flex: 0 0 100px;
      width: 100px; }
    .budget-table__cell.budget-table__cell--info {
      flex: 1; }
    .budget-table__cell.budget-table__cell--remove {
      align-items: center;
      cursor: pointer;
      display: flex;
      justify-content: center;
      flex: 0 0 50px;
      font-size: 30px;
      width: 50px; }
      .budget-table__cell.budget-table__cell--remove:hover {
        background-color: #ccc; }
  .budget-table__name {
    display: block;
    margin-bottom: 5px; }
  .budget-table__category {
    background-color: #ffc750;
    display: inline-block;
    padding: 0 10px;
    text-align: center; }

.select {
  flex: 0 0 200px;
  position: relative;
  width: 200px; }
  .select.is-open .select__list {
    display: block; }
  .select__current {
    align-items: center;
    background-color: #ffffff;
    border: 1px solid #cccccc;
    border-radius: 5px;
    cursor: pointer;
    display: flex;
    height: 40px;
    padding: 0 10px;
    position: relative;
    z-index: 1; }
  .select__list {
    background-color: #ffffff;
    border: 1px solid #cccccc;
    display: none;
    left: 0;
    padding-top: 3px;
    position: absolute;
    right: 0;
    top: 37px; }
    .select__list_item {
      align-items: center;
      border-bottom: 1px solid #cccccc;
      cursor: pointer;
      display: flex;
      min-height: 40px;
      padding: 0 10px; }
      .select__list_item:last-child {
        border-bottom: 0; }

.btn {
  align-items: center;
  background-color: #ffffff;
  border: 1px solid #cccccc;
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  flex: 0 0 auto;
  justify-content: center;
  height: 40px;
  width: 40px; }

.input-field {
  border: 1px solid #cccccc;
  border-radius: 5px;
  height: 40px;
  flex: 1;
  padding: 0 10px; }
  .input-field:focus {
    border-color: #1eb1fc; }

/*# sourceMappingURL=main.css.map */
