$bg-header-color: #f2f2f2;
$income-bg-color: #6aac2b;
$expensive-bg-color: #ff4940;
$category-bg-color: #ffc750;

$border-color: #cccccc;
$border-color-hover: #1eb1fc;

$white: #ffffff;

body {
  height: 100%;
}

html {
  height: 100%;
  line-height: 1.3;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

ul, li {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

input,
select,
button {
  outline: none;
}

*, *:before, *:after {
  box-sizing: border-box;
}

.budget {
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow: hidden;
  &__title {
    margin-bottom: 30px;
  }
  &__current {
    font-size: 30px;
    margin-bottom: 30px;
  }
  &__header {
    align-items: center;
    background-color: $bg-header-color;
    border-bottom: 1px solid $border-color;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 0 0 auto;
    padding: 20px;
  }
  &__body {
    overflow: auto;
    flex: 1;
    padding: 20px;
  }
  &__content {
    margin: 0 auto;
    max-width: 1000px;
    width: 100%;
  }
  &__controller {
    align-items: center;
    display: flex;
    margin-bottom: 50px;
    & > * {
      margin-right: 10px;
      &:last-child {
        margin-right: 0;
      }
    }
    &_category {
      .select {
        display: none;
        &.is-chosen {
          display: block;
        }
      }
    }
  }
  &__statistics {
    display: flex;
    flex-direction: column;
    &_value {
      align-items: center;
      color: $white;
      display: flex;
      height: 40px;
      line-height: 40px;
      margin-bottom: 10px;
      padding: 0 10px;
      width: 140px;
      &:last-child {
        margin-bottom: 0;
      }
      &.budget__statistics_value {
        &--income {
          background-color: $income-bg-color;
        }
        &--expense {
          background-color: $expensive-bg-color;
        }
      }
    }
  }
  &__income {

  }
  &-table {
    &__header {
      align-items: center;
      display: flex;
      height: 40px;
    }
    &__body {
      display: flex;
      justify-content: space-between;
      & > * {
        flex: 0 0 48%;
        max-width: 48%;
        width: 48%;
      }
    }
    &__col {
      &-name {
        flex: 0 0 50%;
        max-width: 50%;
        text-align: center;
        width: 50%;
      }
    }
    &__row {
      border-top: 1px solid $border-color;
      display: flex;
      &:last-child {
        border-bottom: 1px solid $border-color;
      }
    }
    &__cell {
      padding: 10px;
      &.budget-table__cell {
        &--worth {
          flex: 0 0 100px;
          width: 100px;
        }
        &--info {
          flex: 1;
        }
        &--remove {
          align-items: center;
          cursor: pointer;
          display: flex;
          justify-content: center;
          flex: 0 0 50px;
          font-size: 30px;
          width: 50px;
          &:hover {
            background-color: #ccc;
          }
        }
      }
    }
    &__name {
      display: block;
      margin-bottom: 5px;
    }
    &__category {
      background-color: $category-bg-color;
      display: inline-block;
      padding: 0 10px;
      text-align: center;
    }
  }
}
.select {
  flex: 0 0 200px;
  position: relative;
  width: 200px;
  &.is-open {
    .select__list {
      display: block;
    }
  }
  &__current {
    align-items: center;
    background-color: $white;
    border: 1px solid $border-color;
    border-radius: 5px;
    cursor: pointer;
    display: flex;
    height: 40px;
    padding: 0 10px;
    position: relative;
    z-index: 1;
  }
  &__list {
    background-color: $white;
    border: 1px solid $border-color;
    display: none;
    left: 0;
    padding-top: 3px;
    position: absolute;
    right: 0;
    top: 37px;
    &_item {
      align-items: center;
      border-bottom: 1px solid $border-color;
      cursor: pointer;
      display: flex;
      min-height: 40px;
      padding: 0 10px;
      &:last-child {
        border-bottom: 0;
      }
    }
  }
}
.btn {
  align-items: center;
  background-color: $white;
  border: 1px solid $border-color;
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  flex: 0 0 auto;
  justify-content: center;
  height: 40px;
  width: 40px;
}
.input-field {
  border: 1px solid $border-color;
  border-radius: 5px;
  height: 40px;
  flex: 1;
  padding: 0 10px;
  &:focus {
    border-color: $border-color-hover;
  }
}